{% extends "index.html" %}
{% block index %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
<html>

<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <form action="/locacao/salvar" method="POST">
        <select class="custom-select" name="filmes">
            <option selected>Filmes</option>
            <div class="dropdown-menu">
                {% for i in lista2 %}
                <option value="{{i.id}}">{{i.titulo}}</option>
                {% endfor %}
            </div>
        </select>

        <hr>

        <select class="custom-select" name="cliente">
            <option selected>Clientes</option>
            <div class="dropdown-menu">
                {% for i in lista %}
                <option value="{{i.id}}">{{i.nome}}</option>
                {% endfor %}
            </div>
        </select>
        <hr>

        <div class="form-group">
            <input type="datetime" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Data da Locação" name="data_locacao">
        </div>
        <input type="submit" value="Realizar Locação" {}>

    </form>

</body>

</html>

{% endblock %}