{% extends "index.html" %}
{% block index %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Lista Filmes
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for i in lista2 %}
        <a class="dropdown-item">{{i.titulo}}</a>
        {% endfor %}
    </div>
    <hr>
</div>


<div class="dropdown2">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Lista Clientes
    </button>
    <div class="dropdown-menu2" aria-labelledby="dropdownMenuButton2">
        {% for i in lista %}
        <a class="dropdown-item">{{i.nome}}</a>
        {% endfor %}
    </div>
</div>
<div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Dropdown link
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>
</div>
{% endblock %}