{% extends "index.html" %}

{% block index %}

<form action="/clientes/salvar" method="POST">
    <div class="container">
        <h2>Cadastro de Clientes</h2>
        <form action="/action_page.php">
            <div class="form-group">
                <label for="nome">Nome Completo:</label>
                <input type="nome" class="form-control" id="nome" placeholder="Nome Completo" name="nome">
            </div>
            <div class="form-group">
                <label for="telefone">Telefone:</label>
                <input type="telefone" class="form-control" id="telefone" placeholder="Telefone" name="telefone">
            </div>
            <div class="form-group">
                <label for="cpf">CPF:</label>
                <input type="cpf" class="form-control" id="cpf" placeholder="CPF" name="cpf">
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>
    {% endblock %}