{% extends "index.html" %}

{% block index %}
<!-- <form action="/clientes/salvar" method="POST">
    <form action="/action_page.php"> -->
        
        <div class="container">
            <h2>Atualizar Cliente</h2>
            <div class="table_edit_client">
                <form action="/clientes/alterar/salvar" method="POST">
                    <input type="hidden" name="id" value="{{cliente1.id}}">
                    <br>
                    <input type="nome" class="form-control" id="nome" placeholder="nome" name="nome"
                        value="{{cliente1.nome}}">
                    <br>
                    <input type="nome" class="form-control" id="nome" placeholder="descrição" name="telefone"
                        value="{{cliente1.telefone}}">
                    <br>
                    <input type="nome" class="form-control" id="nome" placeholder="descrição" name="cpf"
                        value="{{cliente1.cpf}}">
                    
                    <div id="botao_atualizar">
                        <input class="btn btn-secondary" type="submit" value="Atualizar">
                    </div>
                </form>
            </div>
        </form>
    </div>
</form>


{% endblock %}