{% extends "index.html" %}

{% block index %}

<!-- <a href="/filmes/lista">Listagem</a> -->
<div class="container">
        <h2>Filmes Alterar</h2>
    <div class="table_edit_client">
        <form action="/filmes/alterar/salvar" method="POST">
            <input type="hidden" name="id" value="{{filme.id}}">
            <br>
            <input type="titulo" class="form-control" id="titulo" placeholder="nome" name="titulo"
                value="{{filme.titulo}}">
                <br>
            <input type="titulo" class="form-control" id="titulo" placeholder="descrição" name="ano"
                value="{{filme.ano}}">
                <br>
            <input type="titulo" class="form-control" id="titulo" placeholder="descrição" name="valor"
                value="{{filme.valor}}">
                <br>
            <input class="btn btn-secondary" type="submit" value="Atualizar">
        </form>
    </div>
</div>

{% endblock %}