<html>

<head>

    <title>{{nome_pagina}}</title>
    <link rel="stylesheet" href="../static/locadora.css">

</head>
<div class="jumbotron">
    <h1>
        <p>OS MELHORES FILMES AQUI!</p>
    </h1>
    <a href="../templates/home.html"></a>
    <a class="navbar-brand">
        <img src="../static/hd-filmes-logo-4F7B194314-seeklogo.com.png" alt="logo" style="float:auto;">
    </a>
    <div class="nav">
        <a class="nav-link" href="/clientes">Clientes</a>
        <a class="nav-link" href="/filmes">Filmes</a>
        <a class="nav-link" href="/locacoes">Locações</a>
    </div>
</div>

<!-- <div class="nav">
    <a class="nav-link" href="/clientes">Clientes</a>
    <a class="nav-link" href="/filmes">Filmes</a>
    <a class="nav-link" href="/locacoes">Locações</a>
</div> -->


<body>

    {% block index %}

    {% endblock %}
</body>


</html>