{% extends "index.html" %}
{% block index %}

<table id="tabela_clientes" class="table table-dark table-hover">
    <thead>
        <tr>  
            <th>ID</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>CPF</th>       
        </tr>
            
        <div id="botao_cadclientes">
            <a  href="/clientes/cadastro"> <input class="btn btn-secondary" type="submit" value="Cadastrar Cliente"></a>
        </div>
        <tbody>
            {% for i in lista %}
            <tr>
            <td>{{i.id}}</td>
            <td>{{i.nome}}</td>
            <td>{{i.telefone}}</td>
            <td>{{i.cpf}}</td>
        </tr>
        {% endfor %}
    </tbody>
    </tr>
    </thead>
</table>


{% endblock %}