{% extends "index.html" %}
{% block index %}

<table id="tabela_filmes" class="table table-dark table-hover">
    <thead>
            <tr>
                <th>ID</th>
                <th>Titulo</th>
                <th>Ano</th>
                <th>Valor</th>
            </tr>
            <div id="linha_filmes">
                
            </div>
            <a id="botao_cadfilme" href="/filmes/cadastro"><button type="button" class="btn btn-primary">Cadastrar Filme</button></a>

    </thead>
    <tbody>
        {% for i in lista %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.titulo}}</td>
            <td>{{i.ano}}</td>
            <td>{{i.valor}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}