{% extends "index.html" %}
{% block index %}

<table id="tabela_locacoes" class="table table-dark table-hover">

    <thead>
            <th>Cliente</th>
            <th>Filme</th>
            <th>Valor</th>
            <th>Data de Locação</th>

            <div id="linha_locacao">
                <hr>    
            </div>  
                  
            <a id="botao_cadlocacao" href="/locar/filme"><button type="button" class="btn btn-primary">Alugar Filme</button></a>
    <tbody>
        {% for i in lista3 %}
        <tr>
            <td>{{i.nome}}</td>
            <td>{{i.id_filme}}</td>
            <td>{{i.valor}}</td>
            <td>{{i.data_locacao}}</td>
        {% endfor %}
    </tbody>
</table>

{% endblock %}