{% extends "index.html" %}
{% block index %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<table>

    <thead>
        <tr>

            <th>Cliente</th>
            <th>Filme</th>
            <th>Valor</th>
            <th>Data de Locação</th>
            <a href="/locar/filme"> <button type="button" class="btn btn-primary"> Alugar Filme</button></a>

    <tbody>
        {% for i in lista3 %}
        <tr>
            <td>{{i.nome}}</td>
            <td>{{i.id_filme}}</td>
            <td>{{i.valor}}</td>
            <td>{{i.data_locacao}}</td>
        </tr>
        {% endfor %}
    </tbody>

    </tr>
    <hr>
</table>

{% endblock %}